<div
  class="modal fade"
  id="deleteCarModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Car</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onCloseModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the {{deleteCar?.brand}} {{deleteCar?.model}} from the list?</p>
        <div class="modal-footer">
          <button type="button" (click)="onCloseModal()" class="btn btn-secondary">
            No
          </button>
          <button class="btn btn-danger" (click)="onDeleteCar(deleteCar.id)" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>